main.main {
  width: 100vw;
  max-width: 2000px;
  height: 80vh;
  background-color: #44564B;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}