section.hero {
    position: relative;
    width: 100vw;
    max-width: 1950px;
    height: 1000px;
    max-height: 92vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 28px 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
}

.subtitle {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}

.title {
    font-size: 33px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 6px 0;
}

a.cta-button {
    background-color: #fff;
    color: #000;
    border: none;
    letter-spacing: 1px;
    padding: 18px 100px;
    margin: 25px 0;
}