.list-item {
    margin: 10px 0;
    letter-spacing: 1px;
    padding-bottom: 1px;
    border-bottom: 1.5px solid #00000000;
    width: fit-content;
}

.list-item:hover {
    border-bottom: 1.5px solid #000;
}