.header-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 41px 0;
    background-color: #fff;
}

header.header {
    position: sticky;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: #fff;
    z-index: 20;
    display: felx;
    align-items: flex-end;
    margin-bottom: 30px;
}

nav.header-content {
    position: relative;
    top: 0;
    padding-top: 30px;
    display: flex;
    width: 100%;
    max-width: 1800px;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto;
}

div.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

ul.paths {
    display: flex;
    align-items: center;
}

ul.links {
    display: flex;
    align-items: center;
}