.content {
    position: relative;
    width: 100%;
}

.form-container {
    width: 100%;
    margin-bottom: 100px;
}

.tiles-container {
    display: flex;
}

.tiles {
    display: flex;
    margin-bottom: 50px;
}